.landingpage {
    position: relative;
    transition: 0.5s;
}

.video-bg {
    /* width: 100%;
    height: 100vh; */
    /* position: absolute; */
    top: 0;
    z-index: 1;
    /* object-fit: cover; */
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: 1;
}